<h1><%= @band.name %></h1>

<div class="container">
  <div class="row">
    <div class="col">
      <%= render 'members' %>
    </div>

    <div class="col">
      <%= render 'last_songs' %>
    </div>

    <div class="col">
      <%= render 'last_setlists' %>
  </div>
</div>
