<%# Link to the "Last" page
  - available local variables
    url:           url to the last page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<% if current_page.last? %>
  <span class="btn btn-lg btn-outline-light mb-3 disabled" aria-disabled="true">
    <i class="fa-solid fa-forward-fast"></i>
  </span>
<% else %>
  <%= link_to url, class: 'btn btn-lg btn-outline-light mb-3' do %>
    <i class="fa-solid fa-forward-fast"></i>
  <% end %>
<% end %>
