// Darken theme
@import "application";

$primary-color:   color("indigo", "base") !default;
$secondary-color: color("deep-purple", "lighten-2") !default;

.darken {
  @extend .blue-grey, .darken-4;
}

body {
  @extend .blue-grey, .darken-4;
  @extend .blue-grey-text, .text-lighten-2;

  a {
    color: $secondary-color;
  }
}

#play-layout {
  @extend .darken;
}

.card, .card-reveal{
  @extend .darken, .hoverable;
}

.table {
  @extend .darken;
}

.card-action{
  a {
    color: $secondary-color !important;
  }
}

a.collection-item{
  @extend .darken;
}

#slide-out {
  @extend .darken;

  a {
    @extend .blue-grey-text, .text-lighten-4;

    i.material-icons {
      @extend .blue-grey-text, .text-lighten-4;
    }

    i.medium.material-icons {
      @extend .blue-grey-text, .text-darken-4;
    }
  }
}
