$base-spacing  : 1.5em !default;
$alert-color   : #fff6bf !default;
$error-color   : #fbe3e4 !default;
$notice-color  : #e5edf8 !default;
$success-color : #e6efc2 !default;

.button{
  @include button;
  @include padding(2px 12px);


  background  : transparent;
  border      : 1px solid #CCC;
  box-shadow  : none;
  color       : #666;
  font-size   : modular-scale(-1);
  font-weight : 400;
  text-shadow : none;

  &:not(.disabled) {
    &:hover, &:active, &:focus {
      background   : #f6f6f6;
      border-color : #000;
      box-shadow   : none;
      color        : #000;
    }
  }

  i.fa {
    margin-right:  5px;
  }

  &.btn-sm {
    font-size: modular-scale(-1);
  }
}

.flash-alert {
  @include flash($alert-color);
}

.flash-error {
  @include flash($error-color);
}

.flash-notice {
  @include flash($notice-color);
}

.flash-success {
  @include flash($success-color);
}

#menu{
  @include padding(10px);

  .right_links{
    text-align  : right;
  }
}
