#play-layout{
  background-color  : #fff;
  position          : absolute;
  top               : 0;
  width             : 100%;

  .play-top{}

  .quit-setlist-play-icon{
    float : left;
  }

  .play-content{
    clear   : both;
    padding : 0px 5px;
  }
}

.page-header{
  padding-top : 10px;
}
