#play-layout{
  background-color  : #fff;
  position          : absolute;
  top               : 0;
  width             : 100%;
}

#play-layout .play-top{
  background-color  : #f0f;
}

#play-layout .quit-setlist-play-icon{
  float             : left;
}

#play-layout .play-content{
  clear             : both;
}

.page-header{
  padding-top       : 10px;
}
